In [9]:

import pandas as pd
import gdown
import regex as re

### DOWNLOAD FOLDER

In [10]:
#!gdown --folder https://drive.google.com/drive/folders/19hj5MAu95OyZBC5ATPxlgL8IC-V3v11I

### PATHES

In [11]:
import os

# Root directory where your CSV files exist
data_dir = r"DataSources"    

path_data = {
    "brands":     os.path.join(data_dir, "brands.csv"),
    "categories": os.path.join(data_dir, "categories.csv"),
    "customers":  os.path.join(data_dir, "customers.csv"),
    "order_items": os.path.join(data_dir, "order_items.csv"),
    "orders":     os.path.join(data_dir, "orders.csv"),
    "products":   os.path.join(data_dir, "products.csv"),
    "staffs":     os.path.join(data_dir, "staffs.csv"),
    "stocks":     os.path.join(data_dir, "stocks.csv"),
    "stores":     os.path.join(data_dir, "stores.csv"),
}

## loades and df for data

In [12]:
dfs = {}   

for name, path in path_data.items():
    dfs[name] = pd.read_csv(path)

dfs

{'brands':    brand_id    brand_name
 0         1       Electra
 1         2          Haro
 2         3        Heller
 3         4   Pure Cycles
 4         5       Ritchey
 5         6       Strider
 6         7  Sun Bicycles
 7         8         Surly
 8         9          Trek,
 'categories':    category_id        category_name
 0            1    Children Bicycles
 1            2     Comfort Bicycles
 2            3    Cruisers Bicycles
 3            4  Cyclocross Bicycles
 4            5       Electric Bikes
 5            6       Mountain Bikes
 6            7           Road Bikes,
 'customers':       customer_id  first_name last_name           phone  \
 0               1       Debra     Burks             NaN
 1               2       Kasha      Todd             NaN
 2               3      Tameka    Fisher             NaN
 3               4       Daryl    Spence             NaN
 4               5  Charolette      Rice  (916) 381-6003
 ...           ...         ...       ...             ...
 1440         1441      Jamaal  Morrison             NaN
 1441         1442      Cassie     Cline             NaN
 1442         1443      Lezlie      Lamb             NaN
 1443         1444      Ivette     Estes             NaN
 1444         1445       Ester   Acevedo             NaN

                         email                  street           city state  \
 0       debra.burks@yahoo.com       9273 Thorne Ave.    Orchard Park    NY
 1        kasha.todd@yahoo.com        910 Vine Street        Campbell    CA
 2       tameka.fisher@aol.com   769C Honey Creek St.   Redondo Beach    CA
 3        daryl.spence@aol.com         988 Pearl Lane       Uniondale    NY
 4     charolette.rice@msn.com          107 River Dr.      Sacramento    CA
 ...                       ...                     ...            ...   ...
 1440  jamaal.morrison@msn.com  796 SE. Nut Swamp St.   Staten Island    NY
 1441   cassie.cline@gmail.com    947 Lafayette Drive        Brooklyn    NY
 1442    lezlie.lamb@gmail.com  401 Brandywine Street   Central Islip    NY
 1443   ivette.estes@gmail.com  88 N. Canterbury Ave.     Canandaigua    NY
 1444  ester.acevedo@gmail.com        671 Miles Court     San Lorenzo    CA

       zip_code
 0        14127
 1        95008
 2        90278
 3        11553
 4        95820
 ...        ...
 1440     10301
 1441     11201
 1442     11722
 1443     14424
 1444     94580

 [1445 rows x 9 columns],
 'order_items':       order_id   item_id  product_id  quantity  list_price  discount
 0            1         1          20         1      599.99      0.20
 1            1         2           8         2     1799.99      0.07
 2            1         3          10         2     1549.00      0.05
 3            1         4          16         2      599.99      0.05
 4            1         5           4         1     2899.99      0.20
 ...        ...       ...         ...       ...         ...       ...
 4759      1615         9         182         1     2499.99      0.20
 4760      1612  'sz258l'         289         2      319.99      0.05
 4761      1612  'sz756l'         101         2      339.99      0.20
 4762      1612  'sz758k'         293         2      319.99      0.07
 4763      1612  'sz758l'          60         1     1559.99      0.10

 [4764 rows x 6 columns],
 'orders':       order_id  customer_id  order_status  order_date required_date  \
 0            1          259             4  2016-01-01    2016-01-03
 1            2         1212             4  2016-01-01    2016-01-04
 2            3          523             4  2016-01-02    2016-01-05
 3            4          175             4  2016-01-03    2016-01-04
 4            5         1324             4  2016-01-03    2016-01-06
 ...        ...          ...           ...         ...           ...
 1610      1611            6             3  2018-09-06    2018-09-06
 1611      1612            3             3  2018-10-21    2018-10-21
 1612      1613            1             3  2018-11-18    2018-11-18
 1613      1614          135             3  2018-11-28    2018-11-28
 1614      1615          136             3  2018-12-28    2018-12-28

      shipped_date  store_id  staff_id
 0      2016-01-03         1         2
 1      2016-01-03         2         6
 2      2016-01-03         2         7
 3      2016-01-05         1         3
 4      2016-01-06         2         6
 ...           ...       ...       ...
 1610          NaN         2         7
 1611          NaN         1         3
 1612          NaN         2         6
 1613          NaN         3         8
 1614          NaN         3         8

 [1615 rows x 8 columns],
 'products':      product_id                          product_name  brand_id  category_id  \
 0             1                       Trek 820 - 2016         9            6
 1             2    Ritchey Timberwolf Frameset - 2016         5            6
 2             3       Surly Wednesday Frameset - 2016         8            6
 3             4              Trek Fuel EX 8 29 - 2016         9            6
 4             5          Heller Shagamaw Frame - 2016         3            6
 ..          ...                                   ...       ...          ...
 329         317          Trek Checkpoint ALR 5 - 2019         9            7
 330         318  Trek Checkpoint ALR 5 Women's - 2019         9            7
 331         319   Trek Checkpoint SL 5 Women's - 2019         9            7
 332         320           Trek Checkpoint SL 6 - 2019         9            7
 333         321   Trek Checkpoint ALR Frameset - 2019         9            7

      model_year  list_price
 0          2016      379.99
 1          2016      749.99
 2          2016      999.99
 3          2016     2899.99
 4          2016     1320.99
 ..          ...         ...
 329        2019     1999.99
 330        2019     1999.99
 331        2019     2799.99
 332        2019     3799.99
 333        2019     3199.99

 [334 rows x 6 columns],
 'staffs':    staff_id  first_name last_name                          email  \
 0         1     Fabiola   Jackson     fabiola.jackson@bikes.shop
 1         2      Mireya       NaN     mireya.copeland@bikes.shop
 2         3       Genna   Serrano       genna.serrano@bikes.shop
 3         4      Virgie   Wiggins      virgie.wiggins@bikes.shop
 4         5    Jannette     David      jannette.david@bikes.shop
 5         6   Marcelene     Boyer                            NaN
 6         7      Venita    Daniel       venita.daniel@bikes.shop
 7         8        Kali    Vargas         kali.vargas@bikes.shop
 8         9       Layla   Terrell       layla.terrell@bikes.shop
 9        10  Bernardine   Houston  bernardine.houston@bikes.shop

             phone  active  store_id  manager_id
 0             NaN       1       NaN         NaN
 1  (831) 555-5555       1       1.0         1.0
 2  (831) 555-5556       1       1.0         2.0
 3  (831) 555-5557       1       1.0         2.0
 4  (516) 379-4444       1       2.0         1.0
 5  (516) 379-4445       1       2.0         5.0
 6             NaN       1       2.0         5.0
 7  (972) 530-5555       1       3.0         1.0
 8  (972) 530-5556       1       3.0         7.0
 9  (972) 530-5557       1       3.0         7.0  ,
 'stocks':      store_id  product_id  quantity
 0           1           1        27
 1           1           2         5
 2           1           3         6
 3           1           4        23
 4           1           5        22
 ..        ...         ...       ...
 934         3         309        30
 935         3         310         8
 936         3         311        23
 937         3         312        18
 938         3         313         0

 [939 rows x 3 columns],
 'stores':    store_id        store_name           phone               email  \
 0         1  Santa Cruz Bikes  (831) 476-4321                 NaN
 1         2     Baldwin Bikes  (516) 379-8888  baldwin@bikes.shop
 2         3     Rowlett Bikes  (972) 530-5555  rowlett@bikes.shop

                 street        city state  zip_code
 0   3700 Portola Drive  Santa Cruz    CA       NaN
 1   4200 Chestnut Lane     Baldwin    NY   11432.0
 2  8000 Fairway Avenue     Rowlett    TX   75088.0  }

## Shapes

In [13]:
for name, df in dfs.items():
    print(f"{name} ___ ROWS : {df.shape[0]} , COLUMNS : {df.shape[1]}")

brands ___ ROWS : 9 , COLUMNS : 2
categories ___ ROWS : 7 , COLUMNS : 2
customers ___ ROWS : 1445 , COLUMNS : 9
order_items ___ ROWS : 4764 , COLUMNS : 6
orders ___ ROWS : 1615 , COLUMNS : 8
products ___ ROWS : 334 , COLUMNS : 6
staffs ___ ROWS : 10 , COLUMNS : 8
stocks ___ ROWS : 939 , COLUMNS : 3
stores ___ ROWS : 3 , COLUMNS : 8

In [14]:
for name, df in dfs.items():
    display(f"{name} ___  : {df.info()} ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brand_id    9 non-null      int64
 1   brand_name  9 non-null      object
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes

'brands ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    7 non-null      int64
 1   category_name  7 non-null      object
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes

'categories ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1445 non-null   int64
 1   first_name   1445 non-null   object
 2   last_name    1445 non-null   object
 3   phone        178 non-null    object
 4   email        1445 non-null   object
 5   street       1445 non-null   object
 6   city         1445 non-null   object
 7   state        1445 non-null   object
 8   zip_code     1445 non-null   int64
dtypes: int64(2), object(7)
memory usage: 101.7+ KB

'customers ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4764 entries, 0 to 4763
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    4764 non-null   int64
 1   item_id     4764 non-null   object
 2   product_id  4764 non-null   int64
 3   quantity    4764 non-null   int64
 4   list_price  4764 non-null   float64
 5   discount    4764 non-null   float64
dtypes: float64(2), int64(3), object(1)
memory usage: 223.4+ KB

'order_items ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1615 entries, 0 to 1614
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1615 non-null   int64
 1   customer_id    1615 non-null   int64
 2   order_status   1615 non-null   int64
 3   order_date     1615 non-null   object
 4   required_date  1615 non-null   object
 5   shipped_date   1445 non-null   object
 6   store_id       1615 non-null   int64
 7   staff_id       1615 non-null   int64
dtypes: int64(5), object(3)
memory usage: 101.1+ KB

'orders ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    334 non-null    int64
 1   product_name  334 non-null    object
 2   brand_id      334 non-null    int64
 3   category_id   334 non-null    int64
 4   model_year    334 non-null    int64
 5   list_price    334 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 15.8+ KB

'products ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   staff_id    10 non-null     int64
 1   first_name  10 non-null     object
 2   last_name   9 non-null      object
 3   email       9 non-null      object
 4   phone       8 non-null      object
 5   active      10 non-null     int64
 6   store_id    9 non-null      float64
 7   manager_id  9 non-null      float64
dtypes: float64(2), int64(2), object(4)
memory usage: 772.0+ bytes

'staffs ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    939 non-null    int64
 1   product_id  939 non-null    int64
 2   quantity    939 non-null    int64
dtypes: int64(3)
memory usage: 22.1 KB

'stocks ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    3 non-null      int64
 1   store_name  3 non-null      object
 2   phone       3 non-null      object
 3   email       2 non-null      object
 4   street      3 non-null      object
 5   city        3 non-null      object
 6   state       3 non-null      object
 7   zip_code    2 non-null      float64
dtypes: float64(1), int64(1), object(6)
memory usage: 324.0+ bytes

'stores ___  : None '

## modify to lower and _

In [15]:
dfs['brands']["brand_name"] = dfs['brands']["brand_name"].apply(lambda x : x.lower() .replace(" " , "_"))
dfs['categories']["category_name"] = dfs['categories']["category_name"].apply(lambda x : x.lower() .replace(" " , "_"))
dfs['products']["product_name"] = dfs['products']["product_name"].apply(lambda x : x.lower() .replace("-","_").replace(" " , "_"))

In [53]:
for name, df in dfs.items():
    df.columns = [
        x.lower().replace(" ", "_") if isinstance(x, str) else x
        for x in df.columns
    ]

In [54]:
cols = ["first_name", "last_name", "street", "city"]
dfs['customers'][cols] = (
    dfs['customers'][cols]
        .apply(lambda s: s.str.lower().str.replace(" ", "_", regex=False))
)

dfs['customers']['street'] = (
    dfs['customers']['street']
        .str.replace(r"[^\w\s]", "", regex=True)    
        .str.replace(r"_+$", "", regex=True)        
)

In [55]:
col = ["first_name" ,"last_name"  ]
dfs['staffs'][col]  = dfs['staffs'][col].apply(lambda x : x.str.lower() )

# MISSING

In [56]:

dfs['customers']['phone'] = dfs['customers']['phone'].fillna("unknown" )

In [57]:
cols_miss_stores =['email']
dfs['stores'][cols_miss_stores] = dfs['stores'][cols_miss_stores].fillna("unknown" )
dfs['stores']['zip_code'] = dfs['stores']['zip_code'].fillna(-1 )

In [58]:
str_cols_miss =['email'	, 'last_name' , 'phone']
dfs['staffs'][str_cols_miss] = dfs['staffs'][str_cols_miss].fillna("unknown" )

numeric_cols_miss =['store_id'	, 'manager_id']
dfs['staffs'][numeric_cols_miss] = dfs['staffs'][numeric_cols_miss].fillna(-1)


dfs['orders'] = dfs['orders'].dropna()

## show missing data

In [59]:
for name, df in dfs.items():
    print(f"--- Missing in {name} ---")
    display(df[df.isna().any(axis=1)])

--- Missing in brands ---

Empty DataFrame
Columns: [brand_id, brand_name]
Index: []

--- Missing in categories ---

Empty DataFrame
Columns: [category_id, category_name]
Index: []

--- Missing in customers ---

Empty DataFrame
Columns: [customer_id, first_name, last_name, phone, email, street, city, state, zip_code]
Index: []

--- Missing in order_items ---

Empty DataFrame
Columns: [order_id, item_id, product_id, quantity, list_price, discount, total_price]
Index: []

--- Missing in orders ---

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_date, required_date, shipped_date, store_id, staff_id]
Index: []

--- Missing in products ---

Empty DataFrame
Columns: [product_id, product_name, brand_id, category_id, model_year, list_price]
Index: []

--- Missing in staffs ---

Empty DataFrame
Columns: [staff_id, first_name, last_name, email, phone, active, store_id, manager_id]
Index: []

--- Missing in stocks ---

Empty DataFrame
Columns: [store_id, product_id, quantity]
Index: []

--- Missing in stores ---

Empty DataFrame
Columns: [store_id, store_name, phone, email, street, city, state, zip_code]
Index: []

## Duplicates

In [60]:
for name , df in dfs.items():
  print(name)
  display(df[df.duplicated()])

brands

Empty DataFrame
Columns: [brand_id, brand_name]
Index: []

categories

Empty DataFrame
Columns: [category_id, category_name]
Index: []

customers

Empty DataFrame
Columns: [customer_id, first_name, last_name, phone, email, street, city, state, zip_code]
Index: []

order_items

Empty DataFrame
Columns: [order_id, item_id, product_id, quantity, list_price, discount, total_price]
Index: []

orders

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_date, required_date, shipped_date, store_id, staff_id]
Index: []

products

Empty DataFrame
Columns: [product_id, product_name, brand_id, category_id, model_year, list_price]
Index: []

staffs

Empty DataFrame
Columns: [staff_id, first_name, last_name, email, phone, active, store_id, manager_id]
Index: []

stocks

Empty DataFrame
Columns: [store_id, product_id, quantity]
Index: []

stores

Empty DataFrame
Columns: [store_id, store_name, phone, email, street, city, state, zip_code]
Index: []

In [61]:
dfs['order_items'] = dfs['order_items'].drop_duplicates()

In [62]:
dfs['products']=dfs['products'].drop_duplicates()

In [63]:
dfs['products'].duplicated().sum()

np.int64(0)

In [64]:
dfs['stocks'] = dfs['stocks'].drop_duplicates()

In [65]:
sum_duplicate = 0
for name , df in dfs.items():
    sum_duplicate += df.duplicated().sum()
sum_duplicate

np.int64(0)

#  Data Types


## convert to INT

In [66]:
cols_staff = [ "store_id", "manager_id"]
dfs['staffs'][cols_staff] = dfs['staffs'][cols_staff].astype(int)

cols_staff = [ "store_id", "manager_id"]
dfs['staffs'][cols_staff] =dfs['staffs'][cols_staff].astype(int)

dfs['stores']['zip_code'] = dfs['stores']['zip_code'].astype(int)

## convert active to bool

In [67]:
dfs['staffs']['active'] = dfs['staffs']['active'].astype(bool)

## convert datetime

In [68]:
date_cols = ['order_date' , 'required_date' , 'shipped_date']
for col in date_cols:
    dfs['orders'][col] = pd.to_datetime(dfs['orders'][col], errors='coerce')

In [69]:
 
cols_staff = [ "store_id", "manager_id"]
dfs['staffs'][cols_staff] = dfs['staffs'][cols_staff].astype(int)

##  Clean multi-valued phone numbers

In [70]:
def clean_phone(phone):
    if pd.isna(phone) or phone == "unknown":
        return "unknown"
    if ',' in str(phone):
        return str(phone).split(',')[0].strip()
    return str(phone)

for df_name in ['customers', 'stores', 'staffs']:
    if 'phone' in dfs[df_name].columns:
        dfs[df_name]['phone'] = dfs[df_name]['phone'].apply(clean_phone)

In [71]:
dfs['customers']['phone'][dfs['customers']['phone'].str.contains(r"," )]

Series([], Name: phone, dtype: object)

In [72]:
dfs['stores']['phone'][dfs['stores']['phone'].str.contains(r"," )]

Series([], Name: phone, dtype: object)

In [73]:
dfs['staffs']['phone'][dfs['staffs']['phone'].str.contains(r"," )]

Series([], Name: phone, dtype: object)

#  Format Issues

##  Remove negative quantities

In [74]:
dfs['order_items'] = dfs['order_items'][dfs['order_items']['quantity']>=0]

In [75]:
dfs['stocks'] =  dfs['stocks'][dfs['stocks']['quantity']>=0]

#  Data Transformation

## Merge products with brands and categories

In [78]:
temp_df = dfs['products'].merge(dfs['brands'] , on='brand_id' , how='inner')
merg_products = temp_df.merge(dfs['categories'] , on='category_id' , how='inner')
products = merg_products[['product_id','product_name','brand_id','category_id','model_year','list_price']]

##  Calculate total price per order item:

In [80]:
dfs['order_items']['total_price'] = dfs['order_items']['list_price'] * dfs['order_items']['quantity']
dfs['order_items'].head()
dfs['order_items']['total_price'] = dfs['order_items']['total_price'] * (1-dfs['order_items']['discount'])
dfs['order_items']

,order_id,item_id,product_id,quantity,list_price,discount,total_price
0,1,1,20,1,599.99,0.20,479.9920
1,1,2,8,2,1799.99,0.07,3347.9814
2,1,3,10,2,1549.00,0.05,2943.1000
3,1,4,16,2,599.99,0.05,1139.9810
4,1,5,4,1,2899.99,0.20,2319.9920
...,...,...,...,...,...,...,...
4759,1615,9,182,1,2499.99,0.20,1999.9920
4760,1612,'sz258l',289,2,319.99,0.05,607.9810
4761,1612,'sz756l',101,2,339.99,0.20,543.9840
4762,1612,'sz758k',293,2,319.99,0.07,595.1814
4763,1612,'sz758l',60,1,1559.99,0.10,1403.9910

In [81]:
help(dfs['order_items'].groupby)

Help on method groupby in module pandas.core.frame:

groupby(by=None, axis: 'Axis | lib.NoDefault' = <no_default>, level: 'IndexLabel | None' = None, as_index: 'bool' = True, sort: 'bool' = True, group_keys: 'bool' = True, observed: 'bool | lib.NoDefault' = <no_default>, dropna: 'bool' = True) -> 'DataFrameGroupBy' method of pandas.core.frame.DataFrame instance
    Group DataFrame using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, pd.Grouper or list of such
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If a list or ndarray of length
        equal to the selected axis is passed (see the `groupby user guide
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
        the values are used as-is to determine the groups. A label or list
        of labels may be passed to group by the columns in ``self``.
        Notice that a tuple is interpreted as a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1). For `Series` this parameter
        is unused and defaults to 0.

        .. deprecated:: 2.1.0

            Will be removed and behave like axis=0 in a future version.
            For ``axis=1``, do ``frame.T.groupby(...)`` instead.

    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels. Do not specify both ``by`` and ``level``.
    as_index : bool, default True
        Return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output. This argument has no effect
        on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group. If False,
        the groups will appear in the same order as they did in the original DataFrame.
        This argument has no effect on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).

        .. versionchanged:: 2.0.0

            Specifying ``sort=False`` with an ordered categorical grouper will no
            longer sort the values.

    group_keys : bool, default True
        When calling apply and the ``by`` argument produces a like-indexed
        (i.e. :ref:`a transform <groupby.transform>`) result, add group keys to
        index to identify pieces. By default group keys are not included
        when the result's index (and column) labels match the inputs, and
        are included otherwise.

        .. versionchanged:: 1.5.0

           Warns that ``group_keys`` will no longer be ignored when the
           result from ``apply`` is a like-indexed Series or DataFrame.
           Specify ``group_keys`` explicitly to include the group keys or
           not.

        .. versionchanged:: 2.0.0

           ``group_keys`` now defaults to ``True``.

    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. deprecated:: 2.1.0

            The default value will change to True in a future version of pandas.

    dropna : bool, default True
        If True, and if group keys contain NA values, NA values together
        with row/column will be dropped.
        If False, NA values will also be treated as the key in groups.

    Returns
    -------
    pandas.api.typing.DataFrameGroupBy
        Returns a groupby object that contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
    detailed usage and examples, including splitting an object into groups,
    iterating through groups, selecting a group, aggregation, and more.

    Examples
    --------
    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df
       Animal  Max Speed
    0  Falcon      380.0
    1  Falcon      370.0
    2  Parrot       24.0
    3  Parrot       26.0
    >>> df.groupby(['Animal']).mean()
            Max Speed
    Animal
    Falcon      375.0
    Parrot       25.0

    **Hierarchical Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Captive', 'Wild', 'Captive', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
    ...                   index=index)
    >>> df
                    Max Speed
    Animal Type
    Falcon Captive      390.0
           Wild         350.0
    Parrot Captive       30.0
           Wild          20.0
    >>> df.groupby(level=0).mean()
            Max Speed
    Animal
    Falcon      370.0
    Parrot       25.0
    >>> df.groupby(level="Type").mean()
             Max Speed
    Type
    Captive      210.0
    Wild         185.0

    We can also choose to include NA in group keys or not by setting
    `dropna` parameter, the default setting is `True`.

    >>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by=["b"]).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5

    >>> df.groupby(by=["b"], dropna=False).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5
    NaN 1   4

    >>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by="a").sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0

    >>> df.groupby(by="a", dropna=False).sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0
    NaN 12.3   33.0

    When using ``.apply()``, use ``group_keys`` to include or exclude the
    group keys. The ``group_keys`` argument defaults to ``True`` (include).

    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df.groupby("Animal", group_keys=True)[['Max Speed']].apply(lambda x: x)
              Max Speed
    Animal
    Falcon 0      380.0
           1      370.0
    Parrot 2       24.0
           3       26.0

    >>> df.groupby("Animal", group_keys=False)[['Max Speed']].apply(lambda x: x)
       Max Speed
    0      380.0
    1      370.0
    2       24.0
    3       26.0

In [82]:
df_order_total_amount  = dfs['order_items'].groupby(by='order_id').agg(
    counts_items=('item_id', 'count') , 
     sums_money = ('total_price' , 'sum'))

## checking

In [83]:
for name, df in dfs.items():
    display(f"{name} ___  : {df.info()} ")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   brand_id    9 non-null      int64
 1   brand_name  9 non-null      object
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes

'brands ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    7 non-null      int64
 1   category_name  7 non-null      object
dtypes: int64(1), object(1)
memory usage: 244.0+ bytes

'categories ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  1445 non-null   int64
 1   first_name   1445 non-null   object
 2   last_name    1445 non-null   object
 3   phone        1445 non-null   object
 4   email        1445 non-null   object
 5   street       1445 non-null   object
 6   city         1445 non-null   object
 7   state        1445 non-null   object
 8   zip_code     1445 non-null   int64
dtypes: int64(2), object(7)
memory usage: 101.7+ KB

'customers ___  : None '

<class 'pandas.core.frame.DataFrame'>
Index: 4730 entries, 0 to 4763
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     4730 non-null   int64
 1   item_id      4730 non-null   object
 2   product_id   4730 non-null   int64
 3   quantity     4730 non-null   int64
 4   list_price   4730 non-null   float64
 5   discount     4730 non-null   float64
 6   total_price  4730 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 295.6+ KB

'order_items ___  : None '

<class 'pandas.core.frame.DataFrame'>
Index: 1432 entries, 0 to 1477
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1432 non-null   int64
 1   customer_id    1432 non-null   int64
 2   order_status   1432 non-null   int64
 3   order_date     1432 non-null   datetime64[ns]
 4   required_date  1432 non-null   datetime64[ns]
 5   shipped_date   1432 non-null   datetime64[ns]
 6   store_id       1432 non-null   int64
 7   staff_id       1432 non-null   int64
dtypes: datetime64[ns](3), int64(5)
memory usage: 100.7 KB

'orders ___  : None '

<class 'pandas.core.frame.DataFrame'>
Index: 321 entries, 0 to 333
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    321 non-null    int64
 1   product_name  321 non-null    object
 2   brand_id      321 non-null    int64
 3   category_id   321 non-null    int64
 4   model_year    321 non-null    int64
 5   list_price    321 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 17.6+ KB

'products ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   staff_id    10 non-null     int64
 1   first_name  10 non-null     object
 2   last_name   10 non-null     object
 3   email       10 non-null     object
 4   phone       10 non-null     object
 5   active      10 non-null     bool
 6   store_id    10 non-null     int64
 7   manager_id  10 non-null     int64
dtypes: bool(1), int64(3), object(4)
memory usage: 702.0+ bytes

'staffs ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    939 non-null    int64
 1   product_id  939 non-null    int64
 2   quantity    939 non-null    int64
dtypes: int64(3)
memory usage: 22.1 KB

'stocks ___  : None '

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    3 non-null      int64
 1   store_name  3 non-null      object
 2   phone       3 non-null      object
 3   email       3 non-null      object
 4   street      3 non-null      object
 5   city        3 non-null      object
 6   state       3 non-null      object
 7   zip_code    3 non-null      int64
dtypes: int64(2), object(6)
memory usage: 324.0+ bytes

'stores ___  : None '

In [84]:
# checkind standisation
for name, df in dfs.items():
    dfs[name].columns = [col.lower().replace(' ', '_') for col in df.columns]

In [85]:
dfs.keys()

dict_keys(['brands', 'categories', 'customers', 'order_items', 'orders', 'products', 'staffs', 'stocks', 'stores'])

In [86]:
def save_cleaned_data(dfs):
    output_dir = "cleaned_data"
    os.makedirs(output_dir, exist_ok=True)
    
    for name, df in dfs.items():
        file_path = os.path.join(output_dir, f"{name}.csv")
        df.to_csv(file_path, index=False)
        print(f"Saved {name} to {file_path}")

In [87]:
save_cleaned_data(dfs)

Saved brands to cleaned_data\brands.csv
Saved categories to cleaned_data\categories.csv
Saved customers to cleaned_data\customers.csv
Saved order_items to cleaned_data\order_items.csv
Saved orders to cleaned_data\orders.csv
Saved products to cleaned_data\products.csv
Saved staffs to cleaned_data\staffs.csv
Saved stocks to cleaned_data\stocks.csv
Saved stores to cleaned_data\stores.csv

# connect database

In [ ]:
from  sqlalchemy  import create_engine , text


connection_string = (
    "mssql+pyodbc://kok:1234@localhost/Retail_DB"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)
engine = create_engine(connection_string)

In [328]:
dfs['brands'].to_sql("Brands", if_exists="append", con=engine , index=False)

9

In [329]:

dfs['categories'].to_sql("Categories", if_exists="append", con=engine , index=False)

7

In [330]:

dfs['stores'].to_sql("Stores", if_exists="append", con=engine , index=False)

3

In [331]:
dfs['customers'].to_sql("Customers", if_exists="append", con=engine , index=False)

47

In [332]:
staffs_df = dfs["staffs"].copy()

staffs_df.loc[staffs_df["store_id"] == -1, "store_id"] = None
staffs_df.loc[staffs_df["manager_id"] == -1, "manager_id"] = None

staffs_df.to_sql("Staffs", con=engine, if_exists="append", index=False)

10

In [338]:
products.to_sql("Products", if_exists="append", con=engine , index=False)

321

In [339]:
dfs['orders'].to_sql("Orders", if_exists="append", con=engine , index=False)

135

In [340]:
dfs['order_items'].to_sql("Order_items", if_exists="append", con=engine , index=False)

245

In [341]:
dfs['stocks'].to_sql("Stocks", if_exists="append", con=engine , index=False)

240

In [342]:
pd.read_sql("SELECT  * FROM Stocks " , con=engine)

     store_id  product_id  quantity
0           1           1        27
1           1           2         5
2           1           3         6
3           1           4        23
4           1           5        22
..        ...         ...       ...
934         3         309        30
935         3         310         8
936         3         311        23
937         3         312        18
938         3         313         0

[939 rows x 3 columns]